$page-header-padding: 1em;

.page-header {
  text-align: justify;
  background: $accent-bg-color;
  color: $accent-fg-color;
  padding: $page-header-padding;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
   
  a {
    color: inherit;
    text-decoration: none;
  }
}

.page-title {
  display: block;
  max-width: 50%;
  margin: auto;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
}

.page-action {
  position: absolute;
  top: $page-header-padding;
  padding: 0.25em;
}

.page-secondary-action {
  right: $page-header-padding;
}
